@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
}

/* GRADIENT lo voy a usar????

#encabezado {
    background-image: linear-gradient(to right, $amarillo, $naranja);
}
*/
/*paleta colores*/
/*estilos textos*/
h2 {
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
  padding: 5px;
  margin: auto;
}

h4 {
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
  padding: 5px;
}

/*utilizacion de extend: cada vez que lo use, agregar font-size, line-height, text-align y padding por separado*/
.btn, .kumetext p, .presentacion__titulo, .presentacion__parrafo, .turno__titulo, .turno__covid, .turno__subtitulo, .turno__formulario, .turno__datoscontacto .turno__datosromi, .recetarios__titulo h2, .recetarios__contenido, #accordion .card-header, #accordion .btnn, .nutri p, .bbtn, .modal-content {
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  word-spacing: 1px;
  letter-spacing: 1px;
}

/*header: aplicando flexbox y bem*/
header {
  background-color: #fefce6;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 120px;
}

#encabezado {
  background-color: #fefce6;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.identidad {
  width: 40%;
  height: 120px;
}

.identidad .identidad__logo {
  width: 60px;
  top: 10px;
  margin-left: 20px;
  padding: 1px;
  position: absolute;
}

.identidad .identidad__nombre {
  width: 200px;
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: justify;
  padding-top: 20px;
  margin-left: 125px;
}

.identidad .identidad__profesion {
  width: 200px;
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: justify;
  padding: 1px;
  margin-left: 125px;
}

.identidad .identidad__matricula {
  width: 100px;
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: justify;
  padding: 1px;
  margin-left: 125px;
}

nav {
  width: 60%;
  height: 120px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav {
  width: 500px;
  height: 60px;
  margin-top: 1px;
  margin-bottom: 1px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav .nav-link {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  line-height: 1;
  text-align: center;
  color: #d76249;
}

nav .nav a {
  -webkit-transition: font-size 5s;
  transition: font-size 5s;
  /*transition*/
}

nav .nav a:hover {
  background-color: #d76249;
  color: #fefce6;
  border-radius: 3px;
  font-size: 16px;
  /*transition*/
}

/*footer: aplicando flexbox*/
footer {
  background-color: #fefce6;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn {
  width: 200px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  background-color: #fefce6;
  border: solid 1px #f5d6c3;
}

.btn:hover {
  background-color: #d76249;
  color: #fefce6;
  border-color: #fefce6;
}

.redes {
  margin: auto;
}

.redes__icono {
  margin: 10px;
}

.icono {
  width: 40px;
}

/*main index: aplicando carousel de bootstrap*/
.medio {
  background-color: #fae0c7;
}

#carouselExampleDark {
  width: 60%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.kumetext {
  width: 100%;
  height: 100%;
  padding: 5%;
  margin-top: 5px;
}

.kumetext p {
  font-size: 14px;
  line-height: 1.5;
  padding: 2px;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* main sobre-mi: presentación del Centro de Nutrición kume y del profesional. Aplicando bem y flexbox*/
.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fae0c7;
  width: 100%;
  height: 100%;
}

.presentacion__multimedia {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 25%;
  height: 80%;
  margin: auto;
}

.presentacion__img {
  width: 78%;
  height: 160%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.presentacion__audio {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 3%;
}

.presentacion__texto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 75%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.presentacion__titulo {
  width: 180px;
  padding: 10px;
  margin-left: 5%;
  margin-top: 5%;
  background-color: rgba(254, 252, 230, 0.9);
  text-align: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.presentacion__parrafo {
  width: 90%;
  padding: 10px;
  margin: 3% 5%;
  background-color: rgba(254, 252, 230, 0.9);
  text-align: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

/* main contacto: aplicando bem y formulario */
.contacto {
  padding: 10px;
}

.turno__titulo {
  width: 180px;
  padding: 10px;
  margin: auto;
  background-color: rgba(254, 252, 230, 0.9);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.turno__covid {
  width: 70%;
  padding: 10px;
  margin: 3% auto;
  background-color: rgba(254, 252, 230, 0.9);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.turno__subtitulo {
  width: 70%;
  padding: 10px;
  margin: 3% auto;
  background-color: rgba(254, 252, 230, 0.9);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.turno__formulario {
  width: 600px;
  height: 600px;
  margin: auto;
  background-color: rgba(254, 252, 230, 0.9);
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.turno__formulario .casilla {
  color: #d76249;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.turno__formulario .casilla input {
  border: 1px solid #d76249;
  border-radius: 3px;
  background-color: #fefce6;
}

.turno__formulario .mensaje {
  color: #d76249;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.turno__formulario .mensaje textarea {
  border: 1px solid #d76249;
  border-radius: 3px;
  background-color: #fefce6;
}

.turno__formulario .casilla-boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.turno__formulario .boton {
  background-color: #fefce6;
  color: #d76249;
  width: 80px;
  border: 1px solid #d76249;
  border-radius: 3px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.turno__formulario .boton:hover {
  background-color: #d76249;
  color: #fefce6;
  border-radius: 3px;
}

.turno__datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}

.turno__fotokume {
  width: 300px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.turno__fotocasa {
  width: 300px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.turno__datoscontacto {
  width: 300px;
  background-color: #fefce6;
  padding: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.turno__datoscontacto .turno__datosromi {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

/* main recetas: aplicando accordion con bootstrap */
.recetarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recetarios__titulo {
  width: 300px;
  padding: 20px;
}

.recetarios__titulo h2 {
  background-color: rgba(254, 252, 230, 0.9);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.recetarios__contenido {
  width: 80%;
  padding: 20px;
  background-color: rgba(254, 252, 230, 0.9);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

#accordion {
  padding: 20px;
}

#accordion .card {
  width: 350px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fefce6;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

#accordion .card-header {
  font-size: 16px;
  width: 100%;
}

#accordion .btnn {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #fefce6;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 5px;
}

#accordion .btnn:hover {
  background-color: #d76249;
  color: #fefce6;
}

#accordion .card-body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

#accordion .foto {
  width: 50%;
}

#accordion .descarga {
  font-size: 14px;
  color: #d76249;
}

#accordion .descarga:hover {
  color: #f8bb55;
}

/* sección tips.html: agregando grid  con 4 columnas, con 5 filas y con 16 items*/
.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 0.8fr 0.8fr 1.2fr 0.8fr 1.2fr;
      grid-template-rows: 0.8fr 0.8fr 1.2fr 0.8fr 1.2fr;
  grid-gap: 1px;
  background-color: #fae0c7;
      grid-template-areas: "cuadro1 cuadro3 cuadro11 cuadro4"  "cuadro1 nutri nutri cuadro13"  "cuadro6 cuadro8 cuadro5 cuadro13" "cuadro10 cuadro8 cuadro2 cuadro7" "cuadro9 cuadro14 cuadro12 cuadro15";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.video {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: cuadro1;
  position: center;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img2 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: cuadro2;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cuadro3;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: cuadro4;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: cuadro5;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cuadro6;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.nutri {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: nutri;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(254, 252, 230, 0.9);
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  position: center;
  padding: 10px;
  margin: 10px;
}

.nutri p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.img7 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: cuadro7;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: cuadro8;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img9 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cuadro9;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img10 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cuadro10;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img11 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cuadro11;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img12 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: cuadro12;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img13 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: cuadro13;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.bbtn {
  font-size: 14px;
  line-height: 1.5;
  padding: 1px;
  text-align: center;
  background-color: #fefce6;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #f5d6c3;
}

.bbtn:hover {
  background-color: #d76249;
  color: #fefce6;
  border-color: #fefce6;
}

.card-body {
  background-color: #fefce6;
}

.modal-dialog {
  background-color: #f5d6c3;
}

.modal-content {
  background-color: #fefce6;
  font-size: 14px;
  line-height: 1.5;
}

.modal-header .modal-body .modal-footer {
  border: 1px solid #f5d6c3;
}

.img14 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: cuadro14;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img15 {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: cuadro15;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

/* aplicando media queries para celular*/
@media screen and (max-width: 481px) {
  /*adaptando el header*/
  header {
    background-color: #fefce6;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 160px;
  }
  #encabezado {
    background-color: #fefce6;
    width: 100%;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .identidad {
    width: 100%;
    height: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .identidad .identidad__logo {
    width: 50px;
    top: 5px;
    margin-left: 15px;
    padding: 1px;
    position: absolute;
  }
  .identidad .identidad__nombre {
    width: 160px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding-top: 14px;
    margin-left: 90px;
  }
  .identidad .identidad__profesion {
    width: 160px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 90px;
  }
  .identidad .identidad__matricula {
    width: 100px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 90px;
  }
  nav {
    width: 100%;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav {
    width: 90%;
    height: 60px;
    margin-top: 1px;
    margin-bottom: 1px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav .nav-link {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    word-spacing: 0.3px;
    letter-spacing: 0.5px;
    line-height: 1;
    text-align: center;
    color: #d76249;
    padding: 5px;
  }
  nav .nav a {
    -webkit-transition: font-size 5s;
    transition: font-size 5s;
    /*transition*/
  }
  nav .nav a:hover {
    background-color: #d76249;
    color: #fefce6;
    border-radius: 3px;
    font-size: 14px;
    /*transition*/
  }
  /*adaptando el footer*/
  footer {
    width: 100%;
    height: 170px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    width: 140px;
    height: 35px;
    font-size: 14px;
  }
  .redes__icono {
    margin: 5px;
  }
  .icono {
    width: 30px;
  }
  /* adaptando main de index*/
  #carouselExampleDark {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .kumetext {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .kumetext p {
    font-size: 8px;
    line-height: 0.5;
    padding: 1px;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* adaptando main de sobre-mi y aplicando bem y flexbox*/
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .presentacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fae0c7;
    width: 100%;
    height: 100%;
  }
  .presentacion__multimedia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .presentacion__img {
    width: 60%;
    height: 120%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .presentacion__audio {
    width: 80%;
    height: 40px;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .presentacion__texto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .presentacion__titulo {
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .presentacion__parrafo {
    width: 90%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  /* adaptando grids de la sección tips.html:  con 2 columnas, con 10 filas y con 16 items*/
  .grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 1.2fr 1.2fr 1.2fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 1.2fr 1.2fr 1.2fr;
    grid-gap: 0.5px;
    background-color: #fae0c7;
        grid-template-areas: "cuadro3 cuadro11"  "nutri nutri" "cuadro10 cuadro4" "cuadro1 cuadro2" "cuadro1 cuadro7" "cuadro8 cuadro13" "cuadro8 cuadro13" "cuadro14 cuadro12" "cuadro5 cuadro15" "cuadro6 cuadro9";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .video {
    width: 80%;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: cuadro1;
    position: center;
    margin-top: 7px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img2 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: cuadro2;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cuadro3;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img4 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: cuadro4;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img5 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: cuadro5;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img6 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    grid-area: cuadro6;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .nutri {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nutri;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: rgba(254, 252, 230, 0.9);
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    position: center;
    padding: 5px;
    margin: 5px;
  }
  .nutri p {
    padding-top: 5px;
    font-size: 12px;
    line-height: 1.5;
  }
  .img7 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: cuadro7;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img8 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: cuadro8;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img9 {
    -ms-grid-row: 10;
    -ms-grid-column: 2;
    grid-area: cuadro9;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img10 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: cuadro10;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img11 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cuadro11;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img12 {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    grid-area: cuadro12;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img13 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: cuadro13;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .bbtn {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px;
    text-align: center;
    background-color: #fefce6;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: solid 1px #f5d6c3;
  }
  .bbtn:hover {
    background-color: #d76249;
    color: #fefce6;
    border-color: #fefce6;
  }
  .card-body {
    background-color: #fefce6;
  }
  .modal-dialog {
    background-color: #f5d6c3;
  }
  .modal-content {
    background-color: #fefce6;
    font-size: 12px;
    line-height: 1.5;
  }
  .modal-header .modal-body .modal-footer {
    border: 1px solid #f5d6c3;
  }
  .img14 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: cuadro14;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img15 {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
    grid-area: cuadro15;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  /* adaptando main de contacto */
  .contacto {
    padding: 5px;
  }
  .turno__titulo {
    width: 160px;
    padding: 5px;
    font-size: 14px;
  }
  .turno__covid {
    width: 90%;
    padding: 5px;
    margin: 2% auto;
    font-size: 14px;
  }
  .turno__subtitulo {
    width: 90%;
    padding: 5px;
    margin: 2% auto;
    font-size: 14px;
  }
  .turno__formulario {
    width: 90%;
    height: 600px;
    margin: auto;
    font-size: 14px;
    padding: 5px;
  }
  .turno__datos {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .turno__fotokume {
    width: 90%;
    margin: 3% auto;
  }
  .turno__fotocasa {
    width: 90%;
    margin: 3% auto;
  }
  .turno__datoscontacto {
    width: 90%;
    margin: 3% auto;
    padding: 5px;
  }
  .turno__datoscontacto .turno__datosromi {
    font-size: 13px;
  }
}

/* aplicando  media queries para tablets */
@media screen and (min-width: 481px) and (max-width: 786px) {
  /*adaptando el header*/
  header {
    background-color: #fefce6;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 140px;
  }
  #encabezado {
    background-color: #fefce6;
    width: 100%;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .identidad {
    width: 100%;
    height: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .identidad .identidad__logo {
    width: 50px;
    top: 5px;
    margin-left: 15px;
    padding: 1px;
    position: absolute;
  }
  .identidad .identidad__nombre {
    width: 160px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding-top: 14px;
    margin-left: 90px;
  }
  .identidad .identidad__profesion {
    width: 160px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 90px;
  }
  .identidad .identidad__matricula {
    width: 100px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 90px;
  }
  nav {
    width: 100%;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav {
    width: 90%;
    height: 60px;
    margin-top: 1px;
    margin-bottom: 1px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav .nav-link {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    word-spacing: 0.7px;
    letter-spacing: 0.5px;
    line-height: 1;
    text-align: center;
    color: #d76249;
    padding: 5px;
  }
  nav .nav a {
    -webkit-transition: font-size 5s;
    transition: font-size 5s;
    /*transition*/
  }
  nav .nav a:hover {
    background-color: #d76249;
    color: #fefce6;
    border-radius: 3px;
    font-size: 15px;
    /*transition*/
  }
  /*adaptando el footer*/
  footer {
    background-color: #fefce6;
    width: 100%;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .btn {
    width: 140px;
    height: 35px;
    font-size: 14px;
  }
  .redes__icono {
    margin: 5px;
  }
  /* adaptando main de index*/
  #carouselExampleDark {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  /* adaptando main de sobre-mi y aplicando bem y flexbox*/
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .presentacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fae0c7;
    width: 100%;
    height: 100%;
  }
  .presentacion__multimedia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .presentacion__img {
    width: 60%;
    height: 120%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .presentacion__audio {
    width: 80%;
    height: 40px;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .presentacion__texto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .presentacion__titulo {
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .presentacion__parrafo {
    width: 90%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  /* adaptando grids de la sección tips.html:  con 3 columnas, con 7 filas y con 16 items*/
  .grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 1.2fr 1.2fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 1.2fr 1.2fr;
    grid-gap: 0.5px;
    background-color: #fae0c7;
        grid-template-areas: "cuadro3 cuadro11 cuadro4"  "nutri nutri nutri" "cuadro10 cuadro2 cuadro7" "cuadro8 cuadro1 cuadro13" "cuadro8 cuadro1 cuadro13" "cuadro14 cuadro5 cuadro12" "cuadro6 cuadro15 cuadro9";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .video {
    width: 80%;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: cuadro1;
    position: center;
    margin-top: 7px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: cuadro2;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cuadro3;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img4 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: cuadro4;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img5 {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: cuadro5;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img6 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: cuadro6;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .nutri {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nutri;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: rgba(254, 252, 230, 0.9);
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    position: center;
    padding: 5px;
    margin: 5px;
  }
  .nutri p {
    padding-top: 5px;
    font-size: 12px;
    line-height: 1.5;
  }
  .img7 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: cuadro7;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img8 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: cuadro8;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img9 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: cuadro9;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img10 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: cuadro10;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img11 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cuadro11;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img12 {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    grid-area: cuadro12;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img13 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: cuadro13;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .bbtn {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px;
    text-align: center;
    background-color: #fefce6;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: solid 1px #f5d6c3;
  }
  .bbtn:hover {
    background-color: #d76249;
    color: #fefce6;
    border-color: #fefce6;
  }
  .card-body {
    background-color: #fefce6;
  }
  .modal-dialog {
    background-color: #f5d6c3;
  }
  .modal-content {
    background-color: #fefce6;
    font-size: 12px;
    line-height: 1.5;
  }
  .modal-header .modal-body .modal-footer {
    border: 1px solid #f5d6c3;
  }
  .img14 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: cuadro14;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  .img15 {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: cuadro15;
    position: center;
    margin: 5px;
    -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
            box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  }
  /* adaptando main de contacto */
  .contacto {
    padding: 10px;
  }
  .turno__titulo {
    width: 160px;
    padding: 10px;
    font-size: 14px;
  }
  .turno__covid {
    width: 90%;
    padding: 10px;
    margin: 2% auto;
    font-size: 14px;
  }
  .turno__subtitulo {
    width: 90%;
    padding: 10px;
    margin: 2% auto;
    font-size: 14px;
  }
  .turno__formulario {
    width: 90%;
    height: 600px;
    margin: auto;
    font-size: 14px;
    padding: 10px;
  }
  .turno__datos {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .turno__fotokume {
    width: 70%;
    margin: 3% auto;
  }
  .turno__fotocasa {
    width: 70%;
    margin: 3% auto;
  }
  .turno__datoscontacto {
    width: 70%;
    margin: 3% auto;
    padding: 10px;
  }
  .turno__datoscontacto .turno__datosromi {
    font-size: 14px;
  }
}
/*# sourceMappingURL=estilos.css.map */