/*reset*/
* {
    margin: 0;
    padding: 0
}

/* GRADIENT lo voy a usar????

#encabezado {
    background-image: linear-gradient(to right, $amarillo, $naranja);
}
*/


/*paleta colores*/

$terracota: #b13a1f;
$oscuro: #d76249;
$rosa: #f5d6c3;
$rosa-claro: #fae0c7;
$naranja: #f8bb55;
$amarillo: #fefce6;

/*estilos textos*/

h2 {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
    padding: 5px;
    margin: auto;
}


h4 {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
    padding: 5px;
}

/*utilizacion de extend: cada vez que lo use, agregar font-size, line-height, text-align y padding por separado*/
%texto {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    word-spacing: 1px;
    letter-spacing: 1px;
}

/*header: aplicando flexbox y bem*/

header {background-color: $amarillo;
    position: sticky;
    width: 100%;
    height: 120px;
}

#encabezado { background-color: $amarillo;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.identidad { width: 40%;
    height: 120px;
    .identidad__logo {
        width: 60px;
        top: 10px;
        margin-left: 20px;
        padding: 1px;
        position: absolute;
    }

    .identidad__nombre {
        width: 200px;
        color: $oscuro;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 1;
        text-align: justify;
        padding-top: 20px;
        margin-left: 125px;
        
    }

    .identidad__profesion {
        width: 200px;
        color: $oscuro;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 1;
        text-align: justify;
        padding: 1px;
        margin-left: 125px;
    
    }

    .identidad__matricula {
        width: 100px;
        color: $oscuro;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 1;
        text-align: justify;
        padding: 1px;
        margin-left: 125px;
    }
}

nav {width: 60%;
    height: 120px; 
    align-content: center;
    justify-content: flex-end;
    
    .nav {width: 500px;
        height: 60px;
        margin-top: 1px;
        margin-bottom: 1px;
        align-content: center;
        justify-content: center;
        .nav-link {font-size: 14px;
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            word-spacing: 1px;
            letter-spacing: 0.5px;
            line-height: 1;
            text-align: center;
            color: $oscuro;
        }
        a {transition: font-size 5s; /*transition*/
        }
        a:hover {
            background-color: $oscuro;
            color: $amarillo;
            border-radius: 3px;
            font-size: 16px;  /*transition*/
        }
    }
}

/*footer: aplicando flexbox, boton de bootstrap y bem*/

footer {display: flex; /*flexbox*/
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $amarillo;
    width: 100%;
    height: 20vh;
}

.btn {width: 300px;
height: 40px;
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-weight: normal;
word-spacing: 1px;
letter-spacing: 0.5px;
line-height: 1;
text-align: center;
color: $oscuro;
font-style: normal;
position: relative;
text-align: center;
margin: auto 15%;
padding: 10px;
background-color: $amarillo;
color: $terracota;
align-content: center;
justify-content: center;
border: solid 1px $rosa;
}

.btn:hover {
background-color: $oscuro;
color: $amarillo;
border-color: $amarillo;
}

.redes {width: 100%;
justify-content: space-around;;
text-decoration-line: none;
text-align: center;
margin: auto;
margin-right: 5%;
padding: 5px;
}

.redes__email {
width: 40px;
border-radius: 30px;
margin-left: 1%;
margin-right: 1%;
}

.redes__watsapp {
width: 40px;
border-radius: 30px;
margin-left: 1%;
margin-right: 1%;
}

.redes__facebook {
width: 40px;
border-radius: 30px;
margin-left: 1%;
margin-right: 1%;
}

.redes__instagram {
width: 40px;
border-radius: 30px;
margin-left: 1%;
margin-right: 1%;
}

.redes__linkedin {
width: 40px;
border-radius: 30px;
margin-left: 1%;
margin-right: 1%;
}

/*main index: aplicando carousel de bootstrap*/

.medio {background-color: $rosa-claro;
}

#carouselExampleDark {
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.kumetext {width: 100%;
    height: 100%;
    padding: 5%;
    margin-top: 5px;
    p {@extend %texto;
        font-size: 14px;
        line-height: 1.5;
        padding: 2px;
        text-align: center;
        justify-content: space-around;
    }
}
    
/* main sobre-mi: presentación del Centro de Nutrición kume y del profesional. Aplicando bem y flexbox*/

.presentacion {
    display: flex;
    background-color: $rosa-claro;
    width: 100%;
    height: 100%;
}
.presentacion__multimedia {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25%;
    height: 80%;
    margin: auto;
}

.presentacion__img {
    width: 78%;
    height: 160%;
    margin-left:10%;
    margin-right:10%;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-self: center;
    align-content: center;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.presentacion__audio {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 3%;   
}

.presentacion__texto {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 75%; 
    height: 100%;  
    justify-content: space-around;    
}

.presentacion__titulo {
    width: 180px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: rgba(254,252,230,0.9);
    text-align: justify;
    justify-content: space-around;  
    @extend %texto;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.presentacion__parrafo {
    width: 90%;
    padding: 10px;
    margin: 3% 5%;
    background-color: rgba(254,252,230,0.9);
    text-align: justify;
    justify-content: space-around;    
    @extend %texto;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

/* main contacto: aplicando bem y formulario */

.contacto { width: 100%;
display: flex;
}

/*TENGO QUE VER QUE ME CONVIENE USAR MAS: display: inline-block O position:relative/absolute
PARA QUE CON MEDIA QUERIES PUEDA PONER UNO ABAJO DEL OTRO PARA DISPOSITIVO DE CELULAR ??????*/

.contacto__TextUno{position: relative;
    width: 25%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

    .card {border: 3px solid $rosa-claro;
        .card-img-top {background-color:$amarillo;
            border: 2px solid $rosa-claro;
        }
        .card-body {background-color:$amarillo;
            border: 2px solid $rosa-claro;
            @extend %texto;
            font-size: 16px;
            line-height: 1.9;
        }
    }
}

.contacto__TextDos {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgba(254,252,230,0.5);
    padding: 5px;
    h2{@extend %texto;
        font-size: 16px;
        line-height: 1.5;
        text-align: start;

    }
    .contacto__formulario{@extend %texto;
        font-size: 16px;
        line-height: 1.5;
        text-align: start;

    }
}

.contacto__formulario {
    border: 3px solid $rosa-claro;
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    align-content: center ;
    .casilla {color: $oscuro;
        text-align: center;
        justify-content: center;
        input{border: 1px solid $terracota;
            background-color: $amarillo;
        }
        
         
    }
    .mensaje {text-align: center;
        justify-content: center;

    }
    .casilla-boton {text-align: center;
        justify-content: center;
    }
    .boton {background-color: $amarillo;
        color: $terracota;
        width: 80px;
        border: 1px solid $terracota;
        align-content: center;
        justify-content: center;
    }
    .boton:hover {background-color: $oscuro;
        color: $amarillo;
        border-radius: 3px;
        }
}
.contacto__TextTres{position: relative;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;

    .card {border: 3px solid $rosa-claro;
        .card-img-top {background-color:$amarillo;
            border: 2px solid $rosa-claro;
        }
        .card-body {background-color:$amarillo;
            border: 2px solid $rosa-claro;
            @extend %texto;
            font-size: 14px;
            line-height: 1.5;
        }
    }
}

/* main recetas: aplicando accordion con bootstrap */

#accordion {


    .card {width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-header {
        width: 100%;
        color: papayawhip;

    }

    .btnn { @extend %texto;
        font-size: 14px;
        line-height: 1.5;
        width: 100%;
        height: 30px;
        padding: 5px;
        background-color: #c8e8ea;
        align-content: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
    }

    .btnn:hover {
        background-color: #fe9a84;
        color: white;
    }

    .card-body {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
        padding: 5px;
        
    }

    .foto {width: 50%;
    }

    .descarga { font-size: 14px;
    }
}

/* sección tips.html: agregando grid  con 4 columnas, con 5 filas y con 16 items*/

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 1.2fr 0.8fr 1.2fr;
    grid-gap: 1px;
    background-color: $rosa-claro;
    grid-template-areas: "cuadro1 cuadro3 cuadro11 cuadro4" 
                         "cuadro1 nutri nutri cuadro13" 
                         "cuadro6 cuadro8 cuadro5 cuadro13"
                         "cuadro10 cuadro8 cuadro2 cuadro7"
                         "cuadro9 cuadro14 cuadro12 cuadro15";
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.video {
    grid-area: cuadro1;
    position: center;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img2 {
    grid-area: cuadro2;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img3 {
    grid-area: cuadro3;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img4 {
    grid-area: cuadro4;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img5 {
    grid-area: cuadro5;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img6 {
    grid-area: cuadro6;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.nutri {
    grid-area: nutri;
    text-align: center;
    align-content: center;
    background-color: rgba(254,252,230,0.9);
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    position: center;
    padding: 10px;
    margin: 10px;
    p {@extend %texto;
        padding-top: 10px;
        font-size: 14px;
        line-height: 1.5;
    }
}

.img7 {
    grid-area: cuadro7;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img8 {
    grid-area: cuadro8;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img9 {
    grid-area: cuadro9;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img10 {
    grid-area: cuadro10;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img11 {
    grid-area: cuadro11;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img12 {
    grid-area: cuadro12;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img13 {
    grid-area: cuadro13;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);        
}

.bbtn {@extend %texto;
    font-size: 14px;
    line-height: 1.5;
    padding: 1px;
    text-align: center;
    background-color: $amarillo;
    align-content: center;
    justify-content: center;
    border: solid 1px $rosa;
}
    
.bbtn:hover {background-color: $oscuro;
    color: $amarillo;
    border-color: $amarillo;
}

.card-body {background-color: $amarillo;
}

.modal-dialog {background-color:$rosa;
}

.modal-content {background-color: $amarillo;
    @extend %texto;
    font-size: 14px;
    line-height: 1.5;
}

.modal-header .modal-body .modal-footer{ border: 1px solid $rosa;}

.img14 {
    grid-area: cuadro14;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img15 {
    grid-area: cuadro15;
    position: center;
    margin: 10px;
    box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

/* aplicando media queries para celular*/

@media screen and (max-width: 481px) {

    /*adaptando el header*/
    
    header {background-color: $amarillo;
        position: sticky;
        width: 100%;
        height: 140px;
    }

    #encabezado { background-color: $amarillo;
        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .identidad { width: 100%;
        height: 90px;   
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;

        .identidad__logo {
            width: 50px;
            top: 5px;
            margin-left: 15px;
            padding: 1px;
            position: absolute;
        }

        .identidad__nombre {
            width: 160px;
            color: $oscuro;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1;
            text-align: justify;
            padding-top: 14px;
            margin-left: 90px;
            
        }

        .identidad__profesion {
            width: 160px;
            color: $oscuro;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: 12px;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1;
            text-align: justify;
            padding: 1px;
            margin-left: 90px;
        
        }

        .identidad__matricula {
            width: 100px;
            color: $oscuro;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: 12px;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1;
            text-align: justify;
            padding: 1px;
            margin-left: 90px;
        }
    }

    nav {width: 100%;
        height: 50px; 
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        
        .nav {width: 400px;
            height: 60px;
            margin-top: 1px;
            margin-bottom: 1px;
            align-content: center;
            justify-content: center;
            .nav-link {font-size: 12px;
                font-family: 'Poppins', sans-serif;
                font-weight: normal;
                word-spacing: 0.3px;
                letter-spacing: 0.5px;
                line-height: 1;
                text-align: center;
                color: $oscuro;
                padding: 5px;
            }
            a {transition: font-size 5s; /*transition*/
            }
            a:hover {
                background-color: $oscuro;
                color: $amarillo;
                border-radius: 3px;
                font-size: 14px;  /*transition*/
            }
        }
    }

    /*adaptando el footer*/

    
    .btn {font-size: 12px;
        width: 100px;
        height: 40px;
        margin-left: 8%;
        margin-right: 0%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 5px;
    }

    .redes {
        margin-right: 3%;
        padding: 3px;
    }
        
    .redes {width: 100%;
        justify-content: space-around;
        text-decoration-line: none;
        text-align: center;
        margin: auto;
        padding: 1px;
    }

    .redes__email {
        width: 30px;
        border-radius: 30px;
    }

    .redes__watsapp {
        width: 30px;
        border-radius: 30px;
    }

    .redes__facebook {
        width: 30px;
        border-radius: 30px;
    }

    .redes__instagram {
        width: 30px;
        border-radius: 30px;
    }

    .redes__linkedin {
        width: 30px;
        border-radius: 30px;
    }

    /* adaptando main de index*/
    
    #carouselExampleDark {
        width: 100%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .kumetext {width: 100%;
        height: 100%;
        
        margin-top: 5px;
        p {
            font-size: 8px;
            line-height: 0.5;
            padding: 1px;
            text-align: center;
            justify-content: space-around;
        }
    }

    /* adaptando main de sobre-mi y aplicando bem y flexbox*/

    .contenedor {
        display: flex;
    }
        
    .presentacion {
        flex-direction: column;
        flex-wrap: wrap;
        background-color: $rosa-claro;
        width: 100%;
        height: 100%;
    }
    .presentacion__multimedia {
        flex-direction: none;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .presentacion__img {
        width: 60%;
        height: 120%;
        margin-left:20%;
        margin-right:20%;
        margin-top: 1%;
        margin-bottom: 1%;
        justify-self: center;
        align-content: center;
    }

    .presentacion__audio {
        width: 80%;
        height: 40px;
        padding: 5px;
        margin-left:10%;
        margin-right:10%;
        margin-top: 1%;
        margin-bottom: 1%;   
    }
    .presentacion__texto {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; 
        height: 100%;  
        justify-content: center; 
        font-size: 14px;   
    }

    .presentacion__titulo {
        width: 50%;
        padding: 10px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 1%;
        text-align: center;
        justify-content: center; 
        font-size: 14px;          
    }

    .presentacion__parrafo {
        width: 90%;
        padding: 10px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
        justify-content: center;  
        font-size: 14px;   
    }

    /* adaptando grids de la sección tips.html:  con 2 columnas, con 10 filas y con 16 items*/
      
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 1.2fr 1.2fr;
        grid-gap: 0.5px;
        background-color: $rosa-claro;
        grid-template-areas:"cuadro3 cuadro11" 
                            "nutri nutri"
                            "nutri nutri"
                            "cuadro10 cuadro4"
                            "cuadro1 cuadro2"
                            "cuadro1 cuadro7"
                            "cuadro8 cuadro13"
                            "cuadro8 cuadro13"
                            "cuadro14 cuadro5 cuadro12"
                            "cuadro6 cuadro15 cuadro9";
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .video {
        width: 80%;
        grid-area: cuadro1;
        position: center;
        margin-top: 7px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img2 {
        grid-area: cuadro2;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }
    
    .img3 {
        grid-area: cuadro3;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img4 {
        grid-area: cuadro4;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img5 {
        grid-area: cuadro5;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img6 {
        grid-area: cuadro6;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .nutri {
        grid-area: nutri;
        text-align: center;
        align-content: center;
        background-color: rgba(254,252,230,0.9);
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
        position: center;
        padding: 5px;
        margin: 5px;
        p { padding-top: 5px;
            font-size: 12px;
            line-height: 1.5;
        }
    }

    .img7 {
        grid-area: cuadro7;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img8 {
        grid-area: cuadro8;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img9 {
        grid-area: cuadro9;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img10 {
        grid-area: cuadro10;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img11 {
        grid-area: cuadro11;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img12 {
        grid-area: cuadro12;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img13 {
        grid-area: cuadro13;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);        
    }

    .bbtn {font-size: 12px;
        line-height: 1.5;
        padding: 1px;
        text-align: center;
        background-color: $amarillo;
        align-content: center;
        justify-content: center;
        border: solid 1px $rosa;
    }
        
    .bbtn:hover {background-color: $oscuro;
        color: $amarillo;
        border-color: $amarillo;
    }

    .card-body {background-color: $amarillo;
    }

    .modal-dialog {background-color:$rosa;
    }

    .modal-content {background-color: $amarillo;
        font-size: 12px;
        line-height: 1.5;
    }

    .modal-header .modal-body .modal-footer{ border: 1px solid $rosa;}

    .img14 {
        grid-area: cuadro14;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img15 {
        grid-area: cuadro15;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    /* adaptando main de contacto */

    .contacto { width: 100%;
        display: flex;
       
        
        .contacto__TextUno {
            width: 100%;
        
            .card {border: 3px solid $rosa-claro;
                .card-img-top {background-color:$amarillo;
                    border: 2px solid $rosa-claro;
                }
                .card-body {background-color:$amarillo;
                    border: 2px solid $rosa-claro;
                    font-size: 16px;
                    line-height: 1.9;
                }
            }
        }
        
        .contacto__TextDos {
            width: 100%;
            background-color: rgba(254,252,230,0.5);
            padding: 5px;
            h2{
                font-size: 16px;
                line-height: 1.5;
                text-align: start;
        
            }
            .contacto__formulario{
                font-size: 16px;
                line-height: 1.5;
                text-align: start;
        
            }
        }
        
        .contacto__formulario{
            border: 3px solid $rosa-claro;
            color: $oscuro;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            text-align: justify;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1.5;
            padding: 10px;
            text-align: center;
            align-content: center ;
            .casilla {color: $oscuro;
                text-align: center;
                justify-content: center;
                input{
                    border: 1px solid $terracota;
                }
                
                
            }
            .mensaje {text-align: center;
                justify-content: center;
        
            }
            .casilla-boton {text-align: center;
                justify-content: center;
            }
            .boton {background-color: $amarillo;
                color: $terracota;
                width: 80px;
                border: 1px solid $terracota;
                align-content: center;
                justify-content: center;
            }
            .boton:hover {background-color: $oscuro;
                color: $amarillo;
                border-radius: 3px;
            }
        }
        .contacto__TextTres{
            width: 100%;
        
            .card {border: 3px solid $rosa-claro;
                .card-img-top {background-color:$amarillo;
                    border: 2px solid $rosa-claro;
                }
                .card-body {background-color:$amarillo;
                    border: 2px solid $rosa-claro;
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }
    }
}


/* aplicando  media queries para tablets */

@media screen and (min-width: 481px) and (max-width: 786px) {
   
    /*adaptando el header*/
        
    header {background-color: $amarillo;
        position: sticky;
        width: 100%;
        height: 140px;
    }

    #encabezado { background-color: $amarillo;
        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .identidad { width: 100%;
        height: 90px;   
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;

        .identidad__logo {
            width: 50px;
            top: 5px;
            margin-left: 15px;
            padding: 1px;
            position: absolute;
        }

        .identidad__nombre {
            width: 160px;
            color: $oscuro;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1;
            text-align: justify;
            padding-top: 14px;
            margin-left: 90px;
            
        }

        .identidad__profesion {
            width: 160px;
            color: $oscuro;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: 12px;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1;
            text-align: justify;
            padding: 1px;
            margin-left: 90px;
        
        }

        .identidad__matricula {
            width: 100px;
            color: $oscuro;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: 12px;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1;
            text-align: justify;
            padding: 1px;
            margin-left: 90px;
        }
    }
    nav {width: 100%;
        height: 50px; 
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        
        .nav {width: 400px;
            height: 60px;
            margin-top: 1px;
            margin-bottom: 1px;
            align-content: center;
            justify-content: center;
            .nav-link {font-size: 12px;
                font-family: 'Poppins', sans-serif;
                font-weight: normal;
                word-spacing: 0.3px;
                letter-spacing: 0.5px;
                line-height: 1;
                text-align: center;
                color: $oscuro;
                padding: 5px;
            }
            a {transition: font-size 5s; /*transition*/
            }
            a:hover {
                background-color: $oscuro;
                color: $amarillo;
                border-radius: 3px;
                font-size: 14px;  /*transition*/
            }
        }
    }

    /*adaptando el footer*/
    
    .btn {font-size: 14px;
        width: 200px;
        height: 30px;
        margin: auto 10%;
        padding: 5px;
    }
    

    .redes {width: 100%;
        justify-content: space-around;
        text-decoration-line: none;
        text-align: center;
        margin: auto;
        padding: 1px;
    }

    .redes__email {
        width: 30px;
        border-radius: 30px;
    }

    .redes__watsapp {
        width: 30px;
        border-radius: 30px;
    }

    .redes__facebook {
        width: 30px;
        border-radius: 30px;
    }

    .redes__instagram {
        width: 30px;
        border-radius: 30px;
    }

    .redes__linkedin {
        width: 30px;
        border-radius: 30px;
    }

    /* adaptando main de index*/

    #carouselExampleDark {
        width: 100%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    /* adaptando main de sobre-mi y aplicando bem y flexbox*/

    .contenedor {
        display: flex;
    }
        
    .presentacion {
        flex-direction: column;
        flex-wrap: wrap;
        background-color: $rosa-claro;
        width: 100%;
        height: 100%;
    }
    .presentacion__multimedia {
        flex-direction: none;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .presentacion__img {
        width: 60%;
        height: 120%;
        margin-left:20%;
        margin-right:20%;
        margin-top: 1%;
        margin-bottom: 1%;
        justify-self: center;
        align-content: center;
    }
    .presentacion__audio {
        width: 80%;
        height: 40px;
        padding: 5px;
        margin-left:10%;
        margin-right:10%;
        margin-top: 1%;
        margin-bottom: 1%;   
    }
    .presentacion__texto {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; 
        height: 100%;  
        justify-content: center; 
        font-size: 14px;   
    }

    .presentacion__titulo {
        width: 50%;
        padding: 10px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 1%;
        text-align: center;
        justify-content: center; 
        font-size: 14px;          
    }

    .presentacion__parrafo {
        width: 90%;
        padding: 10px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
        justify-content: center;  
        font-size: 14px;   
    }
  
    /* adaptando grids de la sección tips.html:  con 3 columnas, con 7 filas y con 16 items*/
      
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 1.2fr 1.2fr;
        grid-gap: 0.5px;
        background-color: $rosa-claro;
        grid-template-areas:"cuadro3 cuadro11 cuadro4" 
                            "nutri nutri nutri"
                            "cuadro10 cuadro2 cuadro7"
                            "cuadro8 cuadro1 cuadro13"
                            "cuadro8 cuadro1 cuadro13"
                            "cuadro14 cuadro5 cuadro12"
                            "cuadro6 cuadro15 cuadro9";
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .video {
        width: 80%;
        grid-area: cuadro1;
        position: center;
        margin-top: 7px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img2 {
        grid-area: cuadro2;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }
    
    .img3 {
        grid-area: cuadro3;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img4 {
        grid-area: cuadro4;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img5 {
        grid-area: cuadro5;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img6 {
        grid-area: cuadro6;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .nutri {
        grid-area: nutri;
        text-align: center;
        align-content: center;
        background-color: rgba(254,252,230,0.9);
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
        position: center;
        padding: 5px;
        margin: 5px;
        p { padding-top: 5px;
            font-size: 12px;
            line-height: 1.5;
        }
    }

    .img7 {
        grid-area: cuadro7;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img8 {
        grid-area: cuadro8;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img9 {
        grid-area: cuadro9;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img10 {
        grid-area: cuadro10;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img11 {
        grid-area: cuadro11;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img12 {
        grid-area: cuadro12;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img13 {
        grid-area: cuadro13;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);        
    }

    .bbtn {font-size: 12px;
        line-height: 1.5;
        padding: 1px;
        text-align: center;
        background-color: $amarillo;
        align-content: center;
        justify-content: center;
        border: solid 1px $rosa;
    }
        
    .bbtn:hover {background-color: $oscuro;
        color: $amarillo;
        border-color: $amarillo;
    }

    .card-body {background-color: $amarillo;
    }

    .modal-dialog {background-color:$rosa;
    }

    .modal-content {background-color: $amarillo;
        font-size: 12px;
        line-height: 1.5;
    }

    .modal-header .modal-body .modal-footer{ border: 1px solid $rosa;}

    .img14 {
        grid-area: cuadro14;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }

    .img15 {
        grid-area: cuadro15;
        position: center;
        margin: 5px;
        box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
    }
}

  