/*reset*/
* {
    margin: 0;
    padding: 0
}

/*paleta colores*/
$terracota: #b13a1f;
$oscuro: #d76249;
$rosa: #f5d6c3;
$rosa-claro: #fae0c7;
$naranja: #f8bb55;
$amarillo: #fefce6;

/*estilos textos*/

h2 {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
    padding: 5px;
    margin: auto;
}


h4 {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
    padding: 5px;
}

/*utilizacion de extend: cada vez que lo use, agregar font-size, line-height, text-align y padding por separado*/
%texto {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    word-spacing: 1px;
    letter-spacing: 1px;
}



/*header*/

header {background-color: $amarillo;
        position: sticky;
        width: 100%;
}

#encabezado { background-color: $amarillo;
}

    /* aplicando BEM */
.identidad__logo {
    width: 90px;
    top: 10px;
    margin-left: 20px;
    padding: 1px;
    position: absolute;
}

.identidad__nombre {
    width: 60%;
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding-top: 20px;
    margin-left: 125px;
    
}

.identidad__profesion {
    width: 60%;
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 125px;
   
}

.identidad__matricula {
    width: 60%;
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 125px;
}

nav .nav {width: 500px;
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    align-content: center;
    justify-content: center;
    .nav-link {font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        word-spacing: 1px;
        letter-spacing: 0.5px;
        line-height: 1;
        text-align: center;
        color: $oscuro;
    }
    a {transition: font-size 5s; /*transition*/
    }
    a:hover {
        background-color: $oscuro;
        color: $amarillo;
        border-radius: 3px;
        font-size: 18px;  /*transition*/
    }
}



/*footer*/

footer {display: flex; /*flexbox*/
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: $amarillo;
        width: 100%;
        height: 20vh;
}

.btn {width: 30%;
    height: 40px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    line-height: 1;
    text-align: center;
    color: $oscuro;
    font-style: normal;
	position: relative;
    text-align: center;
    margin: auto 15%;
    padding: 10px;
    background-color: $amarillo;
    color: $terracota;
    align-content: center;
    justify-content: center;
    border: solid 1px $rosa;
}

.btn:hover {
    background-color: $oscuro;
    color: $amarillo;
    border-color: $amarillo;
}


    /* aplicando BEM */

.redes {width: 100%;
    justify-content: space-between;
    text-decoration-line: none;
    text-align: center;
    margin: auto;
    margin-right: 5%;
    padding: 5px;
}

.redes__email {
    width: 40px;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.redes__watsapp {
    width: 40px;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.redes__facebook {
    width: 40px;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.redes__instagram {
    width: 40px;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.redes__linkedin {
    width: 40px;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

/*main*/

.medio {background-color: $rosa-claro;
}


/* formato con bootstrap */

#carouselExampleDark {
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.kumetext {width: 100%;
    height: 100%;
    padding: 5%;
    margin-top: 5px;
    p {@extend %texto;
        font-size: 14px;
        line-height: 1.5;
        padding: 2px;
        text-align: center;
        justify-content: space-around;
    }
}

/* aplicando bem y flexbox*/

.presentacion {
    display: flex;
    background-color: $rosa-claro;
    width: 100%;
    height: 100%;
}
.presentacion__multimedia {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25%;
    height: 80%;
    margin: auto;
}

.presentacion__img {
    width: 80%;
    height: 160%;
    padding: 5px;
    margin-left:10%;
    margin-right:10%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-self: center;
    align-content: center;
}
.presentacion__audio {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 1%;   
}
.presentacion__texto {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 75%; 
    height: 100%;  
    justify-content: space-around;    
}

.presentacion__titulo {
    width: 180px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #ebf9fa;
    text-align: justify;
    justify-content: space-around;  
    @extend %texto;
    font-size: 16px;
    line-height: 1.5;
}

.presentacion__parrafo {
    width: 90%;
    padding: 10px;
    margin: 3% 5%;
    background-color: #ebf9fa;
    text-align: justify;
    justify-content: space-around;    
    @extend %texto;
    font-size: 16px;
    line-height: 1.5;
}



/*video ponerlo en tips*/
.video {
    background-color: #bcfefe;
}

.video__mp4 {
    width: 10%;
    position: absolute;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: auto;
    justify-content: center;
}

.video__titulo {
    width: 18%;
    margin-left: 30%;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.video__parrafo {
    width: 60%;
    padding: 10px;
    background-color: #ebf9fa;
    position: relative;
    margin-left: 30%;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: justify;
    justify-content: center;
}
/* KUME font-family: 'Nothing You Could Do', cursive;
 LETRA TRABAJADA font-family: 'Comic Neue', cursive;
 LETRA TEXTO COMUN font-family: 'Poppins', sans-serif; */

/*color clarito #f7f5f2 */


/*color azul oscuro #085163 */


/*color turquesa:  #1cdfed */


/*#f8dad0 #fae0c7 #feefdd  #ebf9fa*/


/* COLOR PALETA 1: #001c44 $oscuro #0c5776 #2d99ae  #bcfefe #f8dad0 .. o mas clarito #fef8ec  */


/* COLOR PALETA 2: #005059 , #08808e, #7ac9d0, #c8e8ea, #fe9a84 */


/* formato con bootstrap */
/*acordion
.card-header {
    margin-left: auto;
    margin-right: auto;
}

.btnn {
    font-family: 'Poppins', sans-serif;
    color: $oscuro;
    text-decoration: none;
    width: 300px;
    height: 50px;
    text-align: justify;
    margin: auto;
    padding: 10px;
    background-color: #c8e8ea;
    align-content: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
}

.btnn:hover {
    background-color: #fe9a84;
    color: #f8dad0;
}

.card-body {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: #c8e8ea;
}

.nutricion {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: #c8e8ea;
}
*/

.color {
    color: #085163
}

.fondo {
    background-color: #c8e8ea;
    width: 100%;
    background-repeat: no-repeat;
}

.fondos {
    background-color: white;
}

.botonColor {
    color: #fef8ec;
}


/* GRADIENT

#encabezado {
    background-image: linear-gradient(to right, $amarillo, $naranja);
}*/


/* aplicando BEM*/


/*
h1 {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
    padding: 5px;
    position: absolute;
    top: 10px;
    margin-left: 50px;
}
*/



/*
h3 {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
    padding: 1px;
    position: relative;
    margin-left: 60px;
}
*/

.relevante {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}


/* COSAS QUE MODIFIQUE: LAS DEJO POR LAS DUDAS... 

.nav {top: 50px;
	position: absolute;
	display: inline-block;
	left: 35%;}
	 

.a 	{color: $oscuro;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 1.5;
	text-align: center;
	padding: 5px;
	width: 100%;
				transition:font-size 5s; 
	}           
	
	
a:hover {text-decoration-line: none;
		color: #fef8ec;
		background-color: #2d99ae;
				font-size: 20px;
		}                
		

p 	{color: $oscuro;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 1.5;
	text-align: justify;
	padding: 10px;
	}
*/


/*tamaño respecto a su contenedor es width: 97%;*/


/*margin arriba/abajo y derecha/izquierda es margin: 10px auto; */


/*para poner tamaño del border es border-width: 3px;*/


/*
ul li 	{color: $oscuro;
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		text-align: justify;
		word-spacing: 1px;
		letter-spacing: 1px;
		line-height: 1.5;
		padding: 10px;
   		left: 60%;}
		

ul ul li {background-color: white;
		color: $oscuro;
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		text-align: justify;
		word-spacing: 1px;
		letter-spacing: 1px;
		line-height: 1.5;
		padding: 10px;}


ol li 	{color: #001c44;
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		text-align: justify;
		word-spacing: 1px;
		letter-spacing: 1px;
		line-height: 1.5;
		display: inline-block;}
*/


/*BOXMODELING a nuestro proyecto en "index"
ul	{list-style: none;
	font-size: 0;}
	
		
ul li {display: inline-block;
		position:relative;}
   		

ul ul 	{position: absolute;
		display: none;

		list-style: none;
		font-size: 0;}
		

ul ul li {display: block;
		position:relative;}
   		

ul li:hover ul {display: block;}		
		


.BoxmodelImg1 	{margin: auto;
				position: relative;		
				}

.textCero   {width: 900px;
			background-color: #ebf9fa;
			position: absolute;
			top: 340px; 
		    left: 65px;
		    margin: auto;
		    }



.botonTurno {text-align: center;
			margin: auto;
			position: center;
			padding: 10px;
			}

*/


/*BOXMODELING a nuestro proyecto en "contacto"*/


/* aplicando BEM*/

.contacto {
    background-color: #fae0c7;
}

.contacto__foto {
    width: 48%;
    position: relative;
    margin: auto;
    padding: 1px;
}

.contacto__TextUno {
    width: 45%;
    position: absolute;
    top: 74%;
    left: 10px;
    margin: 5px;
}

.contacto__TextDos {
    display: inline-block;
    width: 52%;
    background-color: #ebf9fa;
    position: relative;
    margin: auto;
    float: right;
}


/*justo para aplicar variable texto*/

.contacto__formulario {
    color: $oscuro;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
}




/*
.botonTurno {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
*/


/*agregando FLEXBOX a la sección recetas.html*/


/* aplicando BEM */

.Recetas {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.Recetas__SopasyCaldos {
    width: 30%;
    margin: 10px;
}

.article {
    background-color: #bcfefe;
    flex: content;
    padding: 10px;
    margin: 10px;
}

.Recetas__imagenes {
    justify-content: space-around;
    align-items: flex-start;
    background-color: #feefdd;
    display: flex;
    flex-wrap: wrap;
}

.Recetas__img {
    width: 400px;
    height: 500px;
    margin: 3px;
}


/* agregando GRIDS a la sección tips.html  con 5 columnas, con 3 filas y con 13 items*/

.grid {
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 19.9% 19.9% 19.9% 19.9% 19.9%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: $rosa-claro;
    grid-template-areas: "cuadro1 cuadro2 cuadro3 cuadro4 cuadro5" "cuadro6 nutri nutri nutri cuadro7" "cuadro8 cuadro9 cuadro10 cuadro11 cuadro12";
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.img1 {
    grid-area: cuadro1;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img2 {
    grid-area: cuadro2;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img3 {
    grid-area: cuadro3;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img4 {
    grid-area: cuadro4;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img5 {
    grid-area: cuadro5;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img6 {
    grid-area: cuadro6;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.nutri {
    grid-area: nutri;
    border: solid 1px;
    border-color: #7ac9d0;
    text-align: center;
    align-content: center;
    padding: 15px;
    background-color: #ebf9fa;
    position: center;
}

.img7 {
    grid-area: cuadro7;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img8 {
    grid-area: cuadro8;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img9 {
    grid-area: cuadro9;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img10 {
    grid-area: cuadro10;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img11 {
    grid-area: cuadro11;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}

.img12 {
    grid-area: cuadro12;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
}


/* aplicando media queries para caelular*/

@media screen and (max-width: 481px) {

    /*adaptando el header*/

    .identidad__logo {
        top: 8px;
        width: 50px;
        margin-left: 20px;
    }
    
    .identidad__nombre {
        padding-top: 10px;
        font-size: 18px;
        margin-left: 100px;
        
    }
    
    .identidad__profesion {
        font-size: 12px;
        margin-left: 100px;
       
    }
    
    .identidad__matricula {
        font-size: 12px;
        margin-left: 100px;
    }
      
    nav.nav {top: 1px;
        bottom: 1px;
        position: relative;
        margin: auto;
        left: 0px; 
        .nav-item {align-items: center;
            justify-items: center;
            margin-left: 3px;
            margin-right: 3px;
        }
        .nav-link {font-size: 12px;
            padding: 3px;
            letter-spacing: 0.3px;
            word-spacing: 0.2px;
        }
        a {transition: font-size 5s; /*transition*/
        }
        a:hover {font-size: 14px;  /*transition*/
        }
    }

    /*adaptando el footer*/

    .btn {font-style: normal;
        font-weight: normal;
        font-size: 16px;
        position: relative;
        font-family: 'Poppins', sans-serif;
        width: 250px;
        height: 40px;
        text-align: center;
        margin: auto 10%;
        padding: 5px;
        background-color: $amarillo;
        color: $terracota;
        align-content: center;
        justify-content: center;
        border: solid 1px $rosa;
    }
    
    .redes {width: 100%;
        justify-content: space-between;
        text-decoration-line: none;
        text-align: center;
        margin: auto;
        padding: 1px;
    }

    .redes__email {
        width: 30px;
        border-radius: 30px;
    }

    .redes__watsapp {
        width: 30px;
        border-radius: 30px;
    }

    .redes__facebook {
        width: 30px;
        border-radius: 30px;
    }

    .redes__instagram {
        width: 30px;
        border-radius: 30px;
    }

    .redes__linkedin {
        width: 30px;
        border-radius: 30px;
    }

    /* adaptando main de index*/
    
    .kumetext {width: 100%;
        height: 100%;
        padding: 2%;
        margin-top: 5px;
        p {
            font-size: 10px;
            line-height: 0.5;
            padding: 1px;
            text-align: center;
            justify-content: space-around;
        }
    }

    /* adaptando main de sobre-mi y aplicando bem y flexbox*/

    .contenedor {
        display: flex;
    }
        
    .presentacion {
        flex-direction: column;
        flex-wrap: wrap;
        background-color: $rosa-claro;
        width: 100%;
        height: 100%;
    }
    .presentacion__multimedia {
        flex-direction: none;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .presentacion__img {
        width: 60%;
        height: 120%;
        padding: 5px;
        margin-left:20%;
        margin-right:20%;
        margin-top: 1%;
        margin-bottom: 1%;
        justify-self: center;
        align-content: center;
    }
    .presentacion__audio {
        width: 80%;
        height: 40px;
        padding: 5px;
        margin-left:10%;
        margin-right:10%;
        margin-top: 1%;
        margin-bottom: 1%;   
    }
    .presentacion__texto {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; 
        height: 100%;  
        justify-content: center; 
        font-size: 14px;   
    }

    .presentacion__titulo {
        width: 50%;
        padding: 10px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 1%;
        text-align: center;
        justify-content: center; 
        font-size: 14px;          
    }

    .presentacion__parrafo {
        width: 90%;
        padding: 10px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
        justify-content: center;  
        font-size: 14px;   
    }

    /*

    a {
        font-size: 15px;
        word-spacing: 1px;
        letter-spacing: 1px;
        
        line-height: 1.5;
        text-align: center;
        padding: 5px;
    }
    ul {
        list-style: none;
        font-size: 0;
    }
    ul li {
        display: inline-block;
        position: relative;
        left: 5px;
    }
    .botonTurno {
        padding: 5px;
    }
    */
    
    /* adaptando el main: GRIDS a la sección index.html  con 5 columnas, con 6 filas y con 13 items*/
    .grid {
        display: grid;
        grid-template-columns: 19.9% 19.9% 19.9% 19.9% 19.9%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0.5px;
        background-color: #ebf9fa;
        grid-template-areas: "cuadro1 nutri nutri nutri cuadro2" "cuadro3 nutri nutri nutri cuadro4" "cuadro5 nutri nutri nutri cuadro6" "cuadro7 nutri nutri nutri cuadro8" "cuadro9 nutri nutri nutri cuadro10" "cuadro11 nutri nutri nutri cuadro12";
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .img1 {
        grid-area: cuadro1;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img2 {
        grid-area: cuadro2;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img3 {
        grid-area: cuadro3;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img4 {
        grid-area: cuadro4;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img5 {
        grid-area: cuadro5;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img6 {
        grid-area: cuadro6;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .nutri {
        grid-area: nutri;
        border: solid 1px;
        border-color: #7ac9d0;
        text-align: center;
        align-content: center;
        padding: 10px;
        background-color: #ebf9fa;
        position: center;
    }
    .img7 {
        grid-area: cuadro7;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img8 {
        grid-area: cuadro8;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img9 {
        grid-area: cuadro9;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img10 {
        grid-area: cuadro10;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img11 {
        grid-area: cuadro11;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img12 {
        grid-area: cuadro12;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    /* adaptando el carousel : MEDIA QUERIES CON BOOTSTRAP*/
    #carouselExampleDark {
        width: 100%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* aplicando  media queries para tablets */

@media screen and (min-width: 481px) and (max-width: 786px) {
    
    /*adaptando el header*/

    .identidad__logo {
        top: 15px;
        width: 50px;
        margin-left: 25px;
    }

    .identidad__nombre {
        margin-left: 100px;    
    }

    .identidad__profesion {
        margin-left: 100px;
    }

    .identidad__matricula {
        margin-left: 100px;
    }
    

    
    .btn {font-style: normal;
        font-weight: normal;
        font-size: 16px;
        position: relative;
        font-family: 'Poppins', sans-serif;
        width: 250px;
        height: 40px;
        text-align: center;
        margin: auto 10%;
        padding: 5px;
        background-color: $amarillo;
        color: $terracota;
        align-content: center;
        justify-content: center;
        border: solid 1px $rosa;
    }
    
    .redes__email {
        width: 40px;
        border-radius: 30px;
    }

    .redes__watsapp {
        width: 40px;
        border-radius: 30px;
    }

    .redes__facebook {
        width: 40px;
        border-radius: 30px;
    }

    .redes__instagram {
        width: 40px;
        border-radius: 30px;
    }

    .redes__linkedin {
        width: 40px;
        border-radius: 30px;
    }





/*

    a {
        font-size: 15px;
        word-spacing: 1px;
        letter-spacing: 1px;
        
        line-height: 1.5;
        text-align: center;
        padding: 5px;
    }
    ul {
        list-style: none;
        font-size: 0;
    }
    ul li {
        display: inline-block;
        position: relative;
        left: 5px;
    }
    .botonTurno {
        padding: 5px;
    }
    */

    /* adaptando el main: GRIDS a la sección index.html  con 5 columnas, con 6 filas y con 13 items*/
    .grid {
        display: grid;
        grid-template-columns: 33.17% 33.17% 33.17%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0.5px;
        background-color: #ebf9fa;
        grid-template-areas: "cuadro1 cuadro2 cuadro3" "cuadro4 cuadro5 cuadro6" "nutri nutri nutri" "nutri nutri nutri" "cuadro7 cuadro8 cuadro9" "cuadro10 cuadro11 cuadro12";
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .img1 {
        grid-area: cuadro1;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img2 {
        grid-area: cuadro2;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img3 {
        grid-area: cuadro3;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img4 {
        grid-area: cuadro4;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img5 {
        grid-area: cuadro5;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img6 {
        grid-area: cuadro6;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .nutri {
        grid-area: nutri;
        border: solid 1px;
        border-color: #7ac9d0;
        text-align: center;
        align-content: center;
        justify-content: center;
        padding: 10px;
        background-color: #ebf9fa;
        position: center;
    }
    .img7 {
        grid-area: cuadro7;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img8 {
        grid-area: cuadro8;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img9 {
        grid-area: cuadro9;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img10 {
        grid-area: cuadro10;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img11 {
        grid-area: cuadro11;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img12 {
        grid-area: cuadro12;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    /* adaptando el carousel : MEDIA QUERIES CON BOOTSTRAP*/
    #carouselExampleDark {
        width: 100%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}
