@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
}

/* GRADIENT lo voy a usar????

#encabezado {
    background-image: linear-gradient(to right, $amarillo, $naranja);
}
*/
/*paleta colores*/
/*estilos textos*/
h2 {
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
  padding: 5px;
  margin: auto;
}

h4 {
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
  padding: 5px;
}

/*utilizacion de extend: cada vez que lo use, agregar font-size, line-height, text-align y padding por separado*/
.kumetext p, .presentacion__titulo, .presentacion__parrafo, .contacto__TextUno .card .card-body, .contacto__TextDos h2, .contacto__TextDos .contacto__formulario, .contacto__TextTres .card .card-body, #accordion .btnn, .nutri p {
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  word-spacing: 1px;
  letter-spacing: 1px;
}

/*header: aplicando flexbox y bem*/
header {
  background-color: #fefce6;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 120px;
}

#encabezado {
  background-color: #fefce6;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.identidad {
  width: 40%;
  height: 120px;
}

.identidad .identidad__logo {
  width: 60px;
  top: 10px;
  margin-left: 20px;
  padding: 1px;
  position: absolute;
}

.identidad .identidad__nombre {
  width: 200px;
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: justify;
  padding-top: 20px;
  margin-left: 125px;
}

.identidad .identidad__profesion {
  width: 200px;
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: justify;
  padding: 1px;
  margin-left: 125px;
}

.identidad .identidad__matricula {
  width: 100px;
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: justify;
  padding: 1px;
  margin-left: 125px;
}

nav {
  width: 60%;
  height: 120px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav {
  width: 500px;
  height: 60px;
  margin-top: 1px;
  margin-bottom: 1px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav .nav-link {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  line-height: 1;
  text-align: center;
  color: #d76249;
}

nav .nav a {
  -webkit-transition: font-size 5s;
  transition: font-size 5s;
  /*transition*/
}

nav .nav a:hover {
  background-color: #d76249;
  color: #fefce6;
  border-radius: 3px;
  font-size: 16px;
  /*transition*/
}

/*footer: aplicando flexbox, boton de bootstrap y bem*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flexbox*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #fefce6;
  width: 100%;
  height: 20vh;
}

.btn {
  width: 300px;
  height: 40px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  line-height: 1;
  text-align: center;
  color: #d76249;
  font-style: normal;
  position: relative;
  text-align: center;
  margin: auto 15%;
  padding: 10px;
  background-color: #fefce6;
  color: #b13a1f;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #f5d6c3;
}

.btn:hover {
  background-color: #d76249;
  color: #fefce6;
  border-color: #fefce6;
}

.redes {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  text-align: center;
  margin: auto;
  margin-right: 5%;
  padding: 5px;
}

.redes__email {
  width: 40px;
  border-radius: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

.redes__watsapp {
  width: 40px;
  border-radius: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

.redes__facebook {
  width: 40px;
  border-radius: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

.redes__instagram {
  width: 40px;
  border-radius: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

.redes__linkedin {
  width: 40px;
  border-radius: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

/*main index: aplicando carousel de bootstrap*/
.medio {
  background-color: #fae0c7;
}

#carouselExampleDark {
  width: 60%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.kumetext {
  width: 100%;
  height: 100%;
  padding: 5%;
  margin-top: 5px;
}

.kumetext p {
  font-size: 14px;
  line-height: 1.5;
  padding: 2px;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* main sobre-mi: presentación del Centro de Nutrición kume y del profesional. Aplicando bem y flexbox*/
.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fae0c7;
  width: 100%;
  height: 100%;
}

.presentacion__multimedia {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 25%;
  height: 80%;
  margin: auto;
}

.presentacion__img {
  width: 78%;
  height: 160%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.presentacion__audio {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 3%;
}

.presentacion__texto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 75%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.presentacion__titulo {
  width: 180px;
  padding: 10px;
  margin-left: 5%;
  margin-top: 5%;
  background-color: rgba(254, 252, 230, 0.9);
  text-align: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.presentacion__parrafo {
  width: 90%;
  padding: 10px;
  margin: 3% 5%;
  background-color: rgba(254, 252, 230, 0.9);
  text-align: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

/* main contacto: aplicando bem y formulario */
.contacto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*TENGO QUE VER QUE ME CONVIENE USAR MAS: display: inline-block O position:relative/absolute
PARA QUE CON MEDIA QUERIES PUEDA PONER UNO ABAJO DEL OTRO PARA DISPOSITIVO DE CELULAR ??????*/
.contacto__TextUno {
  position: relative;
  width: 25%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.contacto__TextUno .card {
  border: 3px solid #fae0c7;
}

.contacto__TextUno .card .card-img-top {
  background-color: #fefce6;
  border: 2px solid #fae0c7;
}

.contacto__TextUno .card .card-body {
  background-color: #fefce6;
  border: 2px solid #fae0c7;
  font-size: 16px;
  line-height: 1.9;
}

.contacto__TextDos {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgba(254, 252, 230, 0.5);
  padding: 5px;
}

.contacto__TextDos h2 {
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
}

.contacto__TextDos .contacto__formulario {
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
}

.contacto__formulario {
  border: 3px solid #fae0c7;
  color: #d76249;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: justify;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contacto__formulario .casilla {
  color: #d76249;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__formulario .casilla input {
  border: 1px solid #b13a1f;
  background-color: #fefce6;
}

.contacto__formulario .mensaje {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__formulario .casilla-boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__formulario .boton {
  background-color: #fefce6;
  color: #b13a1f;
  width: 80px;
  border: 1px solid #b13a1f;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__formulario .boton:hover {
  background-color: #d76249;
  color: #fefce6;
  border-radius: 3px;
}

.contacto__TextTres {
  position: relative;
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
}

.contacto__TextTres .card {
  border: 3px solid #fae0c7;
}

.contacto__TextTres .card .card-img-top {
  background-color: #fefce6;
  border: 2px solid #fae0c7;
}

.contacto__TextTres .card .card-body {
  background-color: #fefce6;
  border: 2px solid #fae0c7;
  font-size: 14px;
  line-height: 1.5;
}

/* main recetas: aplicando accordion con bootstrap */
#accordion .card {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#accordion .card-header {
  width: 100%;
  color: papayawhip;
}

#accordion .btnn {
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #c8e8ea;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 5px;
}

#accordion .btnn:hover {
  background-color: #fe9a84;
  color: white;
}

#accordion .card-body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

#accordion .foto {
  width: 50%;
}

#accordion .descarga {
  font-size: 14px;
}

/* sección tips.html: agregando grid  con 4 columnas, con 5 filas y con 16 items*/
.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  background-color: #fae0c7;
      grid-template-areas: "cuadro1 cuadro3 cuadro11 cuadro4"  "cuadro1 nutri nutri cuadro13"  "cuadro6 cuadro8 cuadro7 cuadro13" "cuadro10 cuadro8 cuadro2 cuadro5" "cuadro9 cuadro14 cuadro12 cuadro15";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.video {
  width: 75%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: cuadro1;
  position: center;
  margin-top: 7px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img2 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: cuadro2;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cuadro3;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: cuadro4;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img5 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: cuadro5;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cuadro6;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.nutri {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: nutri;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(254, 252, 230, 0.9);
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
  position: center;
  padding: 10px;
  margin: 10px;
}

.nutri p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.img7 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: cuadro7;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: cuadro8;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img9 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cuadro9;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img10 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cuadro10;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img11 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cuadro11;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img12 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: cuadro12;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img13 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: cuadro13;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img14 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: cuadro14;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

.img15 {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: cuadro15;
  position: center;
  margin: 10px;
  -webkit-box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
          box-shadow: 6px 10px 10px rgba(26, 24, 24, 0.623);
}

/* aplicando media queries para celular*/
@media screen and (max-width: 481px) {
  /*adaptando el header*/
  header {
    background-color: #fefce6;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 140px;
  }
  #encabezado {
    background-color: #fefce6;
    width: 100%;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .identidad {
    width: 100%;
    height: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .identidad .identidad__logo {
    width: 50px;
    top: 5px;
    margin-left: 15px;
    padding: 1px;
    position: absolute;
  }
  .identidad .identidad__nombre {
    width: 160px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding-top: 14px;
    margin-left: 90px;
  }
  .identidad .identidad__profesion {
    width: 160px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 90px;
  }
  .identidad .identidad__matricula {
    width: 100px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 90px;
  }
  nav {
    width: 100%;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav {
    width: 400px;
    height: 60px;
    margin-top: 1px;
    margin-bottom: 1px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav .nav-link {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    word-spacing: 0.3px;
    letter-spacing: 0.5px;
    line-height: 1;
    text-align: center;
    color: #d76249;
    padding: 5px;
  }
  nav .nav a {
    -webkit-transition: font-size 5s;
    transition: font-size 5s;
    /*transition*/
  }
  nav .nav a:hover {
    background-color: #d76249;
    color: #fefce6;
    border-radius: 3px;
    font-size: 14px;
    /*transition*/
  }
  /*adaptando el footer*/
  .btn {
    font-size: 12px;
    width: 100px;
    height: 40px;
    margin-left: 8%;
    margin-right: 0%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
  }
  .redes {
    margin-right: 3%;
    padding: 3px;
  }
  .redes {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    text-align: center;
    margin: auto;
    padding: 1px;
  }
  .redes__email {
    width: 30px;
    border-radius: 30px;
  }
  .redes__watsapp {
    width: 30px;
    border-radius: 30px;
  }
  .redes__facebook {
    width: 30px;
    border-radius: 30px;
  }
  .redes__instagram {
    width: 30px;
    border-radius: 30px;
  }
  .redes__linkedin {
    width: 30px;
    border-radius: 30px;
  }
  /* adaptando main de index*/
  #carouselExampleDark {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .kumetext {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .kumetext p {
    font-size: 8px;
    line-height: 0.5;
    padding: 1px;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* adaptando main de sobre-mi y aplicando bem y flexbox*/
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .presentacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fae0c7;
    width: 100%;
    height: 100%;
  }
  .presentacion__multimedia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .presentacion__img {
    width: 60%;
    height: 120%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .presentacion__audio {
    width: 80%;
    height: 40px;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .presentacion__texto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .presentacion__titulo {
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .presentacion__parrafo {
    width: 90%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  /* adaptando main de contacto */
  .contacto {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacto__TextUno {
    width: 100%;
  }
  .contacto__TextUno .card {
    border: 3px solid #fae0c7;
  }
  .contacto__TextUno .card .card-img-top {
    background-color: #fefce6;
    border: 2px solid #fae0c7;
  }
  .contacto__TextUno .card .card-body {
    background-color: #fefce6;
    border: 2px solid #fae0c7;
    font-size: 16px;
    line-height: 1.9;
  }
  .contacto__TextDos {
    width: 100%;
    background-color: rgba(254, 252, 230, 0.5);
    padding: 5px;
  }
  .contacto__TextDos h2 {
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
  }
  .contacto__TextDos .contacto__formulario {
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
  }
  .contacto__formulario {
    border: 3px solid #fae0c7;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contacto__formulario .casilla {
    color: #d76249;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__formulario .casilla input {
    border: 1px solid #b13a1f;
  }
  .contacto__formulario .mensaje {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__formulario .casilla-boton {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__formulario .boton {
    background-color: #fefce6;
    color: #b13a1f;
    width: 80px;
    border: 1px solid #b13a1f;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__formulario .boton:hover {
    background-color: #d76249;
    color: #fefce6;
    border-radius: 3px;
  }
  .contacto__TextTres {
    width: 100%;
  }
  .contacto__TextTres .card {
    border: 3px solid #fae0c7;
  }
  .contacto__TextTres .card .card-img-top {
    background-color: #fefce6;
    border: 2px solid #fae0c7;
  }
  .contacto__TextTres .card .card-body {
    background-color: #fefce6;
    border: 2px solid #fae0c7;
    font-size: 14px;
    line-height: 1.5;
  }
  /*

    a {
        font-size: 15px;
        word-spacing: 1px;
        letter-spacing: 1px;
        
        line-height: 1.5;
        text-align: center;
        padding: 5px;
    }
    ul {
        list-style: none;
        font-size: 0;
    }
    ul li {
        display: inline-block;
        position: relative;
        left: 5px;
    }
    .botonTurno {
        padding: 5px;
    }
    */
  /* adaptando el main: GRIDS a la sección index.html  con 5 columnas, con 6 filas y con 13 items
    .grid {
        display: grid;
        grid-template-columns: 19.9% 19.9% 19.9% 19.9% 19.9%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0.5px;
        background-color: #ebf9fa;
        grid-template-areas: "cuadro1 nutri nutri nutri cuadro2" "cuadro3 nutri nutri nutri cuadro4" "cuadro5 nutri nutri nutri cuadro6" "cuadro7 nutri nutri nutri cuadro8" "cuadro9 nutri nutri nutri cuadro10" "cuadro11 nutri nutri nutri cuadro12";
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .img1 {
        grid-area: cuadro1;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img2 {
        grid-area: cuadro2;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img3 {
        grid-area: cuadro3;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img4 {
        grid-area: cuadro4;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img5 {
        grid-area: cuadro5;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img6 {
        grid-area: cuadro6;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .nutri {
        grid-area: nutri;
        border: solid 1px;
        border-color: #7ac9d0;
        text-align: center;
        align-content: center;
        padding: 10px;
        background-color: #ebf9fa;
        position: center;
    }
    .img7 {
        grid-area: cuadro7;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img8 {
        grid-area: cuadro8;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img9 {
        grid-area: cuadro9;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img10 {
        grid-area: cuadro10;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img11 {
        grid-area: cuadro11;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    .img12 {
        grid-area: cuadro12;
        border: solid 1px;
        border-color: #7ac9d0;
        position: center;
    }
    */
}

/* aplicando  media queries para tablets */
@media screen and (min-width: 481px) and (max-width: 786px) {
  /*adaptando el header*/
  header {
    background-color: #fefce6;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 140px;
  }
  #encabezado {
    background-color: #fefce6;
    width: 100%;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .identidad {
    width: 100%;
    height: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .identidad .identidad__logo {
    width: 50px;
    top: 5px;
    margin-left: 15px;
    padding: 1px;
    position: absolute;
  }
  .identidad .identidad__nombre {
    width: 160px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding-top: 14px;
    margin-left: 90px;
  }
  .identidad .identidad__profesion {
    width: 160px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 90px;
  }
  .identidad .identidad__matricula {
    width: 100px;
    color: #d76249;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: justify;
    padding: 1px;
    margin-left: 90px;
  }
  nav {
    width: 100%;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav {
    width: 400px;
    height: 60px;
    margin-top: 1px;
    margin-bottom: 1px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav .nav-link {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    word-spacing: 0.3px;
    letter-spacing: 0.5px;
    line-height: 1;
    text-align: center;
    color: #d76249;
    padding: 5px;
  }
  nav .nav a {
    -webkit-transition: font-size 5s;
    transition: font-size 5s;
    /*transition*/
  }
  nav .nav a:hover {
    background-color: #d76249;
    color: #fefce6;
    border-radius: 3px;
    font-size: 14px;
    /*transition*/
  }
  /*adaptando el footer*/
  .btn {
    font-size: 14px;
    width: 200px;
    height: 30px;
    margin: auto 10%;
    padding: 5px;
  }
  .redes {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    text-align: center;
    margin: auto;
    padding: 1px;
  }
  .redes__email {
    width: 30px;
    border-radius: 30px;
  }
  .redes__watsapp {
    width: 30px;
    border-radius: 30px;
  }
  .redes__facebook {
    width: 30px;
    border-radius: 30px;
  }
  .redes__instagram {
    width: 30px;
    border-radius: 30px;
  }
  .redes__linkedin {
    width: 30px;
    border-radius: 30px;
  }
  /* adaptando main de index*/
  #carouselExampleDark {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  /* adaptando main de sobre-mi y aplicando bem y flexbox*/
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .presentacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fae0c7;
    width: 100%;
    height: 100%;
  }
  .presentacion__multimedia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .presentacion__img {
    width: 60%;
    height: 120%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .presentacion__audio {
    width: 80%;
    height: 40px;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .presentacion__texto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .presentacion__titulo {
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .presentacion__parrafo {
    width: 90%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  /*
    .contenedor {
        display: flex;
    }
        
    .presentacion {
        flex-direction: column;
        flex-wrap: wrap;
        background-color: $rosa-claro;
        width: 100%;
        height: 100%;
    }
    .presentacion__multimedia {
        flex-direction: none;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .presentacion__img {
        width: 60%;
        height: 120%;
        padding: 5px;
        margin-left:20%;
        margin-right:20%;
        margin-top: 1%;
        margin-bottom: 1%;
        justify-self: center;
        align-content: center;
    }
    .presentacion__audio {
        width: 80%;
        height: 40px;
        padding: 5px;
        margin-left:10%;
        margin-right:10%;
        margin-top: 1%;
        margin-bottom: 1%;   
    }
    .presentacion__texto {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; 
        height: 100%;  
        justify-content: center; 
        font-size: 14px;   
    }

    .presentacion__titulo {
        width: 50%;
        padding: 10px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 1%;
        text-align: center;
        justify-content: center; 
        font-size: 14px;          
    }

    .presentacion__parrafo {
        width: 90%;
        padding: 10px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
        justify-content: center;  
        font-size: 14px;   
    }*/
  /* adaptando el main: GRIDS a la sección index.html  con 5 columnas, con 6 filas y con 13 items*/
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.17% 33.17% 33.17%;
        grid-template-columns: 33.17% 33.17% 33.17%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5px;
    background-color: #ebf9fa;
        grid-template-areas: "cuadro1 cuadro2 cuadro3" "cuadro4 cuadro5 cuadro6" "nutri nutri nutri" "nutri nutri nutri" "cuadro7 cuadro8 cuadro9" "cuadro10 cuadro11 cuadro12";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cuadro1;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cuadro2;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: cuadro3;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: cuadro4;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img5 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: cuadro5;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img6 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: cuadro6;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .nutri {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nutri;
    border: solid 1px;
    border-color: #7ac9d0;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    background-color: #ebf9fa;
    position: center;
  }
  .img7 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: cuadro7;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img8 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: cuadro8;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img9 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: cuadro9;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img10 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: cuadro10;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img11 {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: cuadro11;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
  .img12 {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    grid-area: cuadro12;
    border: solid 1px;
    border-color: #7ac9d0;
    position: center;
  }
}
/*# sourceMappingURL=estilos.css.map */